@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(135deg, #253354, #888c94);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-card {
  background: #d3d1d18d;
  border-radius: 16px;
  padding: 40px 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.login-title {
  margin-bottom: 25px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #2f2f2f;
}

.input-group {
  text-align: left;
  margin-bottom: 18px;
}

.input-group label {
  font-size: 0.9rem;
  color: #302f2f;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  background-color: #494754;
  transition: all 0.2s;
}

.input-group input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  flex: 1;
}

.toggle-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 0.9rem;
  color: #6385ff;
  cursor: pointer;
  font-weight: 500;
  outline: none;
}

.toggle-btn:focus {
  outline: none;
  box-shadow: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #6c63ff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #5952d4;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 25px 0;
  color: #777;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ffffff;
}

.divider span {
  padding: 0 10px;
  font-size: 0.85rem;
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dfdada;
  background: #9f9cb2;
  cursor: pointer;
  transition: all 0.2s;
}

.social-login button:hover {
  background: #f0f0f0;
}

.google-btn .icon {
  color: #db4437;
}

.apple-btn .icon {
  color: #000;
}

.signup-text {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #555;
}

.signup-link {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 500;
}

.signup-link:hover {
  text-decoration: underline;
}
